

email="sfk2001@gmail.com"
genome = "S288C"
reference = "/media/theboocock/Data/Dropbox/PHDTHESIS/Single-CellRNASEQ/eqtls/ref_data/yeast/reference_genome/sacCer3.fasta"

profiles {
	conda { process.conda = "$baseDir/bulkGWAS.yml"
		conda.cacheDir = "$baseDir/conda_cache" 
	}
}
executor {
	name = 'local'
	cpus = 30
	memory = '150 GB'
}
