

email="sfk2001@gmail.com"
genome = "S288C"
reference = "/media/theboocock/Data/Dropbox/Postdoc/projects/crispr_coupling/data/tn5_96/saccer3_plk88.fasta"

profiles {
	conda { process.conda = "$baseDir/bulkGWAS.yml"
		conda.cacheDir = "$baseDir/conda_cache" 
	}
}
executor {
	name = 'local'
	cpus = 30
	memory = '150 GB'
}
